<h1>New twoot</h1>

<%= render 'form' %>

<%= link_to 'Back', twoots_path %>
<script type="text/javascript" charset="utf-8">
  $("body").on("ajax:success", function(jQEvent, data) {
    $(this).append(data);
  });

</script>
